@model Application.Catalogs.Queries.GetBookCheckoutDetails.BookCheckoutPreviewModel
@{
    ViewBag.Title = @Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="header clearfix detailHeading">
        <h2 class="text-muted">Checkout Library Item</h2>
    </div>
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-3">
                <div>
                    <label for="productImg">@Model.Title</label>
                    <img id="productImg" class="detailImage" style="width:100%" src="@Model.ImageUrl" />
                </div>
            </div>
            @*you could also use tag helpers.*@
            <div class="col-md-9">
                @*this is an html helper - it creates an object that implements idisposable*@
                @using (Html.BeginForm("PlaceCheckout", "Catalog", FormMethod.Post)) {
                    @Html.HiddenFor(a => a.Id)
                <div class="form-group col-md-6">
                    <label for="paytronId"> Please insert a Library Card ID</label>
                    @*@Html.TextBoxFor(a => a., new { id = "paytronId", placeholder = "Input your ID", style = "direction: rtl; text-align: left;"})
                    @Html.ValidationMessageFor(a => a.)*@
                    @*write out a text box and set attributes according to info in the model*@
                </div>
                    <div class="col align-self-end">
                        <button type="submit" class="btn btn-success btn-lg btn-group-vertical">Check out</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


